{% extends 'sorting/base.html' %}


{% block title %}
    Sorting Algorithms
{% endblock %}

{% block content %}
    <p><strong>*please, upload file with comma delimiter</strong></p>
    <form action="{% url 'sorting:results' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.upload_file }}
        {{ form.title }}
        <input type="submit" value="Process">
    </form>
{% endblock %}