{% extends 'sorting/base.html' %}

{% block title %}
    Sorting Algorithms -- Result
{% endblock %}

{% block content %}
    <h1>Result:</h1>
    <a href="{{ input_file_url }}" target="_blank">{{ input_file_name }}</a></p>
    <p>{{ input_list|slice:":25" }}</p>
    <a href="{{ output_file_url }}" target="_blank">{{ output_file_name }}</a></p>
    <p>{{ output_list|slice:":25" }}</p>
    <p>Execution time: {{ time_execution }}</p>
{% endblock %}